@font-face {
	font-family: 'PT Sans';
	src: url('./fonts/web/ptsansbold.woff') format('woff'),
	url('./fonts/web/ptsansbold.woff2') format('woff2')
} 

html {
    background: #e6e9e9;
}

li{
    font-family: 'PT Sans';
}

